<form (submit)="registerUser()" class="mat-elevation-z8">
    <mat-toolbar color="primary">Register</mat-toolbar>
    <div class="form-fields">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="newUser.username" name="username" type="text" placeholder="ex.lolzpalz" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="newUser.email" name="email" type="text" placeholder="example@example.com"
                required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="newUser.password" name="password" [type]="hide ? 'password' : 'text' "
                required>
            <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility' }} </mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="form-buttons">
        <button mat-raised-button type="submit" color="accent" style="margin-top: 10px;">Register</button>
        <button mat-raised-button type="button" color="primary" style="margin-top: 10px"
            (click)="this.ui.showLogin()">Have an account? Login Here</button>
    </div>
</form>